<html>
    <head>
        <title></title>

    </head>
    <body>
        <h1>Lanzar proceso</h1>
        <div class="table">
          <table>
            <form action="/run_process" method="post">
            <tr>
              <td>PID</td>
              <td><input type="text" name="pid"></td>
            </tr>
            <tr>
              <td>RAM</td>
              <td><input type="text" name="ram"></td>
            </tr>
            <tr>
              <td>CPU</td>
              <td><input type="text" name="cpu"></td>
            </tr>
            <tr>
              <td>HDD</td>
              <td><input type="text" name="hdd"></td>
            </tr>
            <tr>
              <td><input type="submit" value="Send"></td>
            </tr>
            </form>
          </table>

        </div>
    </body>
</html>
